.card-image {
    height: 170px;
    display: block;
    position: absolute;
    top: -25px;
    transition: all 0.1s ease-out,
}

.custom-bg {
    background: url('../../../assets/domo/domo_background.png');
}    

.react-parallax-bgimage{
    height: 125px !important;
    bottom: 18% !important;
}

.react-parallax-content{
    text-align: center;
}

.header-mail {
    max-width: 300px;
}

.octagon-black-mobile{
    display: none;
}

.header-component{
    height: auto;
    padding-bottom: 4rem;
}

@media (max-width: 768px) {
    .octagon-black {
        display: none;
    }
    .octagon-black-mobile{
        display: initial;
    }
    .header-component{
        padding-bottom: 0;
    }
}

/* @media (max-height: 820px) {
    .header-component{
        height: auto;
    }
} */

.input-group-resp {
    width: 70vw;
}

@media (max-width: 600px) {
    .input-group-resp{
        width: '100%';
    }
}

.knockout {
    background-image: url(https://image.noelshack.com/fichiers/2019/10/1/1551697200-domobg.png);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 12rem;
    top: -30px;
    left: 0;
}

.knockout-wrapper {
    height: 160px;
}

@font-face {
    font-family: GillSans-Heavy, sans-serif;
    src: url('../../../assets/fonts/gillsanscondensed.otf');
}

.header-title-img{
    font-family:GillSans-Heavy, Gill Sans;
    font-weight: 900;
    letter-spacing: 3rem;
}

.cls-1{
    font-size:116.96px;
    fill:none;
    font-family:GillSans-Bold, Gill Sans;
    font-weight:700;
    letter-spacing:0.26em;
}
.cls-2{
    clip-path:url(#clip-path);
}
.cls-3{
    fill:red;
}