.primary-text-color {
    color: red;
}

.primary-bg {
    background-color: #0021f5;
    color: white;
}

/* @font-face {
    font-family: GillSansExtraBold, sans-serif;
    src: url(./assets/fonts/gillsan.ttf);
}

@font-face {
    font-family: GillSansBold, sans-serif;
    src: url(./assets/fonts/gillsanbold.otf);
} */