.card-image {
    height: 150px;
    display: block;
    position: absolute;
    top: -25px;
    transition: all 0.1s ease-out,
}

.header-mail {
    max-width: 300px;
}

.header-component {
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

@media (max-width: 576px) {
    h1.big-header-title, h3.big-header-title{
        font-size: 2.5rem;
    }
}