// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$color-blue: #0cf6fc;
$color-pink: #ea1078;

$background: #07071a;

// UI
$header-height-xs: 50px;
$header-height-md: 100px;
