.input-group-big{
    padding: 25px;
    background: #043bea;
    border-radius: 5px;
}

.custom-mailchimp-input{
  border-radius: 5px;
  outline: none;
  border: 2px solid #043bea;
  padding: 5px 15px;
}

.custom-mailchimp-input.status-error{
  border: 2px solid #e74c3c;
}

.custom-mailchimp-input.status-success{
  border: 2px solid #27ae60;
}

.error-color{
  color: #e74c3c;
}

.success-color{
  color: #27ae60;
}

.custom-mailchimp-btn{
  outline: none;
  min-width: 35%;
  cursor: pointer;
  border: 1px solid #ffffff;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 6px 15px;
  background-color: #043bea;
  color: #ffffff;
}

.custom-mailchimp-btn.btn-status-error{
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
}

.custom-mailchimp-btn.btn-status-success{
  border: 1px solid #27ae60;
  background-color: #27ae60;
}

/* .custom-mailchimp-input.status-sending{
  border: 2px solid #e74c3c;
} */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 57px;;
    height: 18px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 4px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
}

.mobile-width {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
}

.cmci-input-container .mobile-width{
  margin-left: 1rem;
}

.cmci-text-container{
  float: left;
  margin-top: 11px;
}

.cmci-text-container h1{
  margin-top: -10px;
}

@media (max-width: 768px) { 
  .cmci-input-container{
    width: 100%;
  }

  .cmci-input-container .mobile-width{
    margin-left: 0;
  }

  .cmci-text-container{
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: initial;
  }
}