@media (max-width: 768px) {
    .invest-component {
        height: auto;
    }
}

@media (max-height: 630px) {
    .invest-component {
        height: auto;
    }
}

.red {
    color: red !important;
}

.green {
    color: green;
}

.first-capitalize::first-letter{
    text-transform: capitalize;
}

.contact-telegram-icon{
    position: absolute;
    left: 15px;
}

.invest-component .form-check-input{
  margin-top: .2rem;
}
