svg#diagram {
    width: 80%; }
    svg#diagram #block-proposal {
      cursor: pointer; }
    svg#diagram #block-proposal:hover rect {
      fill: #e6edf4; }
    svg#diagram #pre-commit {
      cursor: pointer; }
    svg#diagram #pre-commit:hover rect {
      fill: #e6edf4; }
    svg#diagram #commit {
      cursor: pointer; }
    svg#diagram #commit:hover rect {
      fill: #e6edf4; }
    svg#diagram #new-round {
      cursor: pointer; }
    svg#diagram #new-round:hover rect {
      fill: #e6edf4; }
  
  @media screen and (max-width: 600px) {
    svg#diagram {
      width: 90%; } }