.contact-component {
    padding-top: 3rem;
}

@media (max-width: 768px) {
    .contact-component {
        padding-top: 3rem;
    }
}

@media (max-height: 630px) {
    .contact-component {
        padding-top: 3rem;
    }
}

.red {
    color: red !important;
}

.green {
    color: green;
}

.first-capitalize::first-letter{
    text-transform: capitalize;
}

.contact-telegram-icon{
    position: absolute;
    left: 15px;
}
