.card-image {
    height: 150px;
    display: block;
    position: absolute;
    top: -25px;
    transition: all 0.1s ease-out,
}

.header-mail {
    max-width: 300px;
}

.header-component {
    margin-top: 7rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

@media (max-width: 768px) {
    .header-component {
        /* height: auto; */
        /* display: initial; */
    }
    .header-container{
        /* margin-top: 7rem; */
    }
}

@media (max-height: 790px) {
    .header-component {
        /* height: auto; */
        /* display: initial; */
    }
    .header-container{
        /* margin-top: 7rem; */
    }
}