#media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 72px; */
  /* padding-bottom: 60px; */
  /* margin-top: 60px; */
  /* margin-bottom: 90px; */
  /* background-image: linear-gradient(#F8FAFC, #ffffff); */
  background: #f8f9fb;
}

#media .card{
  box-shadow: 0 9px 50px rgba(0,0,0,.1);
}
  #media h1 {
    margin-bottom: 15px; }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  animation-name: fadeInUp; }

.media-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 52px; }

.media-box {
  width: auto;
  height: 190px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: box-shadow .3s ease-out;
  background-color: white;
  margin-bottom: 32px; }
  .media-box:hover {
    box-shadow: 0px 9px 48px rgba(0, 0, 0, 0.1); }
    .media-box:hover img {
      filter: grayscale(0%); }
  .media-box img {
    object-fit: scale-down;
    width: 150px;
    filter: grayscale(100%);
    transition: all .3s ease-out;
    margin-bottom: 16px; }

.media-date {
  font-size: 14px;
  color: #A3A9AF;
  text-align: center;
  max-width: 248px;
  line-height: 1.6; }

.media-box-custom span{
  max-width: 85%;
  margin-bottom: 25px;
  overflow-y: scroll;
  font-size: 14px;
}

.media-box-custom img{
  display: block;
  margin: auto auto 10px auto;
}

.media-box-custom:hover {
  text-decoration: none;
}
