@import '../../styles/variables';
@import '../../styles/mixins';

.home {
    ::-moz-selection {
        /* Code for Firefox */
        color: $background;
        background: $color-blue;
    }

    ::selection {
        color: $background;
        background: $color-blue;
    }

    #checkerboard-xl {
        path {
            fill: none;
        }
    }

    .home-content-wrapper {
        margin-top: 8rem;

        @include md {
            margin-top: 0rem;
        }
    }

    .slick-slider {
        margin-top: 5rem;

        &::before {
            position: absolute;
            content: '';
            height: 100%;
            z-index: 8;
            width: 7%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(#101018, 1), rgba(#101018, 0) 90%);
        }

        &::after {
            position: absolute;
            content: '';
            height: 100%;
            background: linear-gradient(to left, rgba(#101018, 1), rgba(#101018, 0) 90%);
            z-index: 8;
            width: 7%;
            top: 0;
            right: 0;
        }

        .slick-dots {
            bottom: -3rem;
            li {
                width: 12px;
                height: 12px;
                border: 1px solid #0cf6fc;

                &.slick-active {
                    background: #0cf6fc;
                }

                button::before {
                    content: '';
                }
            }
        }
    }
}

.our-partners,
.grid-pink {
    margin: 0 auto;
    margin-top: 60px;

    @include sm {
        margin-top: 0;
        margin-right: 8%;
    }

    .footer {
        border: 1px solid #ea1078;
        backdrop-filter: blur(23px);
        border-top: 0;
        background: linear-gradient(90.04deg, #ea1078 -70.41%, rgba(234, 16, 120, 0) 102.42%);

        span {
            font-weight: 600;
        }

        &:hover {
            cursor: pointer;
            background: linear-gradient(90.04deg, #ea1078 6.45%, rgba(234, 16, 120, 0) 148.5%);

            span {
                color: white;
            }
        }
    }
}
.our-investors,
.grid-blue {
    .footer {
        background: linear-gradient(90.04deg, #06edf7 -70.41%, rgba(6, 237, 247, 0) 102.42%);
        border: 1px solid rgba(12, 246, 252, 0.5);
        backdrop-filter: blur(23px);
        border-top: 0;

        span {
            font-weight: 600;
        }

        &:hover {
            cursor: pointer;
            background: linear-gradient(91.04deg, #06edf7 6.45%, rgba(6, 237, 247, 0) 148.5%);

            span {
                color: white;
            }
        }
    }
}
